.App {
  text-align: center;
  padding: 20px;
}

input[type="file"] {
  margin: 10px 0;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.card {
  border-radius: 10px;
}

.result {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 100%; /* Ensures it spans the full width of its container */
}
